# Gruppe 4 mailmap data

Christian Raunjak <chraunjak@edu.aau.at>
Christian Raunjak <84344135+tissy01@users.noreply.github.com>
Heinz Artunjak <www.valarauco@gmx.at>
Heinz Artunjak <59098227+seregfea@users.noreply.github.com>
Verena Rath <verenarath@edu.aau.at>
Verena Rath <101351995+verenarath@users.noreply.github.com>
Maximilian Kraßnitzer <m1krassnit@edu.aau.at>
Maximilian Kraßnitzer <115397309+makrassnitzer@users.noreply.github.com>
Carina Bäck <cabaeck@edu.aau.at>
Carina Bäck <126874808+carinabaeck@users.noreply.github.com>
Yevhen Andrianov <36640457+zhekaandri@users.noreply.github.com>
